In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd 
data =pd.read_csv("/content/drive/MyDrive/Colab Notebooks/RAWDATA/creditcard.csv") #loading data
data
data.head(5) #display top 5 entries
data.tail(10) #display bottom 10 entries
data.shape #displays the total number of records,rows and columns
data.describe() #give an overview summary of the dataset
data.isnull() # displays all the null entries in rows/column

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
284803,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
284804,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
284805,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
284806,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
not_fraud = len(data[data.Class ==0]) #find all entries that are not fraud
not_fraud
fraud = len(data[data.Class ==1]) #find all entries that are fraud related
fraud 
not_fraud_pct = (not_fraud/(not_fraud+fraud))*100 #shows the percentage of data not fraudulent
not_fraud_pct  
fraud_pct = (fraud/(not_fraud+fraud))*100 #shows the percentage of data that is fraudulent
fraud_pct  
total_pct = not_fraud_pct+fraud_pct #shows the total percentage
total_pct

99.99999999999999

In [8]:
from sklearn.preprocessing import StandardScaler #normalizes the data
scaler = StandardScaler()

In [9]:
data['Normalized_amount']=scaler.fit_transform(data["Amount"].values.reshape(-1,1)) #normalizes the data
data.head(4)
data.drop(["Amount","Time"],inplace=True,axis=1)
data.head(4)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Class,Normalized_amount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0,0.244964
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0,-0.342475
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0,1.160686
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0,0.140534

In [10]:
x = data.drop(["Class"],axis=1) # independent variables
y=data["Class"] #for dependent variables
x
y

0         0
1         0
2         0
3         0
4         0
         ..
284802    0
284803    0
284804    0
284805    0
284806    0
Name: Class, Length: 284807, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2) #testing and training x and y variables

In [24]:
x_train.shape # number of records we have in training
x_test.shape # number of records we have in test

y_train.shape # number of records we have in training
y_test.shape # number of records we have in test

(56962,)

Creating the model:will create the model on train then test.

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
rf1 = RandomForestClassifier(n_estimators= 50) # The 50 is the total number of trees to be created.

In [31]:
rf1.fit(x_train,y_train) #passing and training the datasets

RandomForestClassifier(n_estimators=50)

In [38]:
prediction_rf = rf1.predict(x_test) #predicting the model test dataset (x_test)
rf1_score = rf1.score(x_test,y_test)*100
rf1_score

99.95084442259751